<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.app.home">
	
	<!-- 		select		 -->
		
	<select id="getRecentPostList" parameterType="hashmap" resultType="PostVO">
		SELECT A.BOARD_ID, A.POST_ID, A.POST_NM, A.USER_NM, A.POST_DATE, A.HITS, A.LIKE, A.DISLIKE, A.CONTENT
			FROM (SELECT @rownum:=@rownum+1 rownum, A.* FROM (SELECT A.BOARD_ID, B.POST_ID, B.POST_NM, B.USER_NM, B.POST_DATE, B.HITS, C.LIKE, C.DISLIKE, D.CONTENT
					FROM NAMDODB.BOARD A INNER JOIN NAMDODB.POST B ON A.BOARD_ID = B.BOARD_ID
										 LEFT OUTER JOIN (SELECT A.POST_ID POST_ID, COUNT(CASE WHEN A.FAVOR='LIKE' THEN 1 END) AS 'LIKE', COUNT(CASE WHEN A.FAVOR='DISLIKE' THEN 1 END) AS 'DISLIKE'
															FROM NAMDODB.POST_FAVOR A GROUP BY A.POST_ID)C ON B.POST_ID = C.POST_ID
										 INNER JOIN NAMDODB.POST_CONTENT D ON B.POST_ID = D.POST_ID
															ORDER BY B.POST_ID DESC)A 
										 WHERE (@rownum:=0)=0)A limit 0, 5
	</select>
	
	<select id="getRecommendPostList" resultType="PostVO">
		SELECT A.BOARD_ID, A.POST_ID, A.POST_NM, A.USER_NM, A.POST_DATE, A.HITS, A.LIKE, A.DISLIKE, A.CONTENT
			FROM (SELECT @rownum:=@rownum+1 rownum, A.* FROM (SELECT A.BOARD_ID, B.POST_ID, B.POST_NM, B.USER_NM, B.POST_DATE, B.HITS, C.LIKE, C.DISLIKE, D.CONTENT
					FROM NAMDODB.BOARD A INNER JOIN NAMDODB.POST B ON A.BOARD_ID = B.BOARD_ID
										 LEFT OUTER JOIN 
										 	(SELECT A.POST_ID POST_ID, COUNT(CASE WHEN A.FAVOR='LIKE' THEN 1 END) AS 'LIKE', COUNT(CASE WHEN A.FAVOR='DISLIKE' THEN 1 END) AS 'DISLIKE'
															FROM NAMDODB.POST_FAVOR A GROUP BY A.POST_ID)C ON B.POST_ID = C.POST_ID
										 INNER JOIN NAMDODB.POST_CONTENT D ON B.POST_ID = D.POST_ID
															ORDER BY C.LIKE DESC)A 
										 WHERE (@rownum:=0)=0)A limit 0, 5
	</select>
	

</mapper>