<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="AccountVO" type="com.project.app.vo.AccountVO"/>
		<typeAlias alias="PostVO" type="com.project.app.vo.PostVO"/>
		<typeAlias alias="WeatherVO" type="com.project.app.vo.WeatherVO"/>
		<typeAlias alias="AddPostVO" type="com.project.app.vo.AddPostVO"/>
		<typeAlias alias="ReplyVO" type="com.project.app.vo.ReplyVO"/>
		<typeAlias alias="FestivalVO" type="com.project.app.vo.FestivalVO"/>
		<typeAlias alias="TourVO" type="com.project.app.vo.TourVO"/>
		<typeAlias alias="FavorVO" type="com.project.app.vo.FavorVO"/>
	</typeAliases>
	
</configuration>